<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Información Personal </ion-list-header>
  </ion-list>
  <ion-item (click)="updateName()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Nombre </ion-col>
          <ion-col class="text-center" size="7" *ngIf="(userProfile$ | async )?.fullName">
            {{(userProfile$ | async )?.fullName}}
          </ion-col>
          <ion-col size="7" class="placeholder-profile text-center" *ngIf="!(userProfile$ | async )?.fullName">
            <span> Haz click aquí para editar </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <ion-item (click)="updateEmail()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Email </ion-col>
          <ion-col class="text-center" size="7" *ngIf="(userProfile$ | async )?.email">
            {{(userProfile$ | async )?.email}}
          </ion-col>
          <ion-col size="7" class="placeholder-profile text-center" *ngIf="!(userProfile$ | async )?.email">
            <span> Haz click aquí para editar </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>

  <ion-item (click)="updatePassword()">
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Contraseña </ion-col>
          <ion-col class="text-center" size="7" class="placeholder-profile">
            <span> Haz click aquí para editar </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>
</ion-content>
